<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img [src]="destino.imagenUrl" alt="">
        <span>
            <h4>{{position}}-{{destino.id}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>servicios</p>
        <ul>
            @for (s of destino.servicios; track s) {
            <li><span>
                    @switch(s){
                    @case("desayuno"){
                    <i style="color:brown">{{s}}</i>
                    }
                    @default{
                    <p>{{s}}</p>
                    }
                    }
                </span></li>
            }

        </ul>
        <div class="acciones">
            <a href="#" (click)="voteUp()" appTrackearClick
                data-trackear-tags="destinos_vote_up lista_destinos_items"><i class="material-icons">thumb_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick
                data-trackear-tags="destinos_vote_down lista_destinos_items"><i
                    class="material-icons">thumb_down</i></a>
            <a href="#" (click)="resetVote()" appTrackearClick
                data-trackear-tags="destinos_reset_vote lista_destinos_items"><i
                    class="material-icons">autorenew</i></a>


            <span class="vote-count">{{ destino.votos }}</span>
        </div>
        <button class="btn-card" (click)="ir()">Ir!</button>
        <button class="btn-card btn-delete" (click)="eliminar()">
            <span class="material-icons">delete</span>
        </button>






        @if(destino.isSelected()){
        <span ngNonBindable>{{**}}</span>
        }
        <a [routerLink]="['/destino']">detalle</a>

    </div>
</div>